Recetario/recursos/DTD.dtd

<!ELEMENT recetario (receta*)>
<!ELEMENT receta (nombreReceta,ingredientes, instrucciones)>
<!ELEMENT nombreReceta (#PCDATA)>
<!ELEMENT ingredientes (ingrediente+)>
<!ELEMENT ingrediente (nombreIngrediente, cantidad)>
<!ELEMENT instrucciones (#PCDATA)>
<!ELEMENT nombreIngrediente (#PCDATA)>
<!ELEMENT cantidad (#PCDATA)>
<!ATTLIST receta tipo CDATA #REQUIRED>
<!ATTLIST receta dificultad CDATA #IMPLIED>