Recetario/recursos/DTD.dtd

<!ELEMENT recetario (receta*)>
<!ELEMENT receta (nombreReceta,ingredientes,pasos)>
<!ELEMENT nombreReceta (#PCDATA)>
<!ELEMENT ingredientes (ingrediente+)>
<!ELEMENT pasos (paso+)>
<!ELEMENT ingrediente (nombreIngrediente,cantidad)>
<!ELEMENT paso (#PCDATA)>
<!ELEMENT nombreIngrediente (#PCDATA)>
<!ELEMENT cantidad (#PCDATA)>
<!ATTLIST receta tipo IDREFS #REQUIRED>
<!ATTLIST receta dificultad CDATA #IMPLIED>